body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.178);
}

#super-title {
    color: hotpink;
}

.menu-item {
    display: inline-block;
}

article {
    border: 1px dotted oldlace;
    margin: 0 auto;
}

header,
main,
footer {
    border: 4px solid brown;
    margin: 20px 5px;
    padding: 10px;
}